ion-content {
    --background: url("/assets/fondo2.jpg") no-repeat center center/cover;
}
.titulo{
    font-weight: bold;
    margin-bottom: 5%;
    text-align: center;
    font-family: 'Arimo', sans-serif;
}
.boton{
    --background: #0400E3;
    --background-hover: #2826bd;
    font-family: 'Arimo', sans-serif;
}
.img-perfil{
    max-width: 120px;
    max-height: 120px;
    padding-top: 10px;
    padding-bottom: 2px;
}
.tarjeta{
    text-align: center;
    align-items: center;
}
.fuente{
    font-family: 'Arimo', sans-serif;
}