<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card class="ion-no-margin tarjeta">
  <img src="/assets/DuocUC.svg" alt="" class="imagen">
  <img src="/assets/5326011.jpg" alt="">
  <ion-card-header>
    <img src="/assets/logo4.png" alt="" class="logotipo">
    <ion-card-subtitle class="subtitulo">BIENVENIDO</ion-card-subtitle>
    <p class="fuente">Registra tu asistencia rapido y facil.</p>
  </ion-card-header>
  <ion-card-content>
    <ion-button expand="full" shape="round" routerLink="/sesion" class="boton">
      Comenzar
    </ion-button>
  </ion-card-content>
</ion-card>

</ion-content>

