<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor">
    <img src="/assets/qr logo2.png" alt="" class="logo">
    <br>
    <img src="/assets/frase logo2.png" alt="" class="logo">
  </div>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="fuente">¿Que es RegistrAPP?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="fuente">RegistrApp es una aplicación móvil que consiste en que los estudiantes por medio de su teléfono puedan registrar su asistencia a una asignatura al escanear un código QR dado por el profesor.</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="fuente">¿Como Funciona?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="fuente">A través de tu teléfono inicias sesión con la cuenta institucional, presionas el botón de escanear y listo. Tu asistencia queda registrada en el sistema.</p>
      </ion-card-content>
    </ion-card>
  
  </div>
</ion-content>
