<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
<!--BOTON ATRAS-->
    <ion-title>Calendario</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
<!--FIN BOTON ATRAS-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calendario</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <div class="calendario">
    <ion-datetime display-format="DD.MM.YYYY" [firstDayOfWeek]="1" color="blue" presentation="date" size="cover"></ion-datetime>
  </div>

  <div>
    <h1 class="titulo">Feriados del año 🥳</h1>
  </div>

  <ion-list *ngFor="let diaFeriado of feriadosLegales">
    <ion-card class="tarjeta">
      <ion-card-subtitle class="fuente">{{diaFeriado.date}}</ion-card-subtitle>
      <ion-card-title class="subtitle">{{diaFeriado.title}}</ion-card-title>
    </ion-card>
  </ion-list>

</ion-content>
