.calendario{
    padding-left: 10px;
    padding-right: 10px;
}
.fuente{
    font-family: 'Arimo', sans-serif;
}
.titulo{
    text-align: center;
    align-items: center;
    font-family: 'Arimo', sans-serif;
}
.tarjeta{
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.subtitle{
    font-weight: bold;
    font-family: 'Arimo', sans-serif;
}