.icono{
    max-width: 15px;
}
.fuente{
    font-family: 'Arimo', sans-serif;
}
.titulo{
    text-align: center;
    align-items: center;
}
.imagen{
    max-width: 200px;
    max-height: 200px;
}
.contenedor{
    align-items: center;
    text-align: center;
}